<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parabéns! Orfanato Adicionado</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/page-congrulations.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/button.css" />



    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="page-congrulations">
      <div id="container">
        <header>
          <img
            id="logo"
            class="animate-up"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />
        </header>

        <main>
          <h1 class="animate-up">Parabéns!</h1>
          <h2 class="animate-up">Orfanato adicionado com sucesso!</h2>
          <section class="Return">
            <h3 class="animate-up">
              Muitas crianças ficarão felizes com sua atitude
            </h3>
             <a href="/orphanages" title="Voltar para o mapa" class="animate-up">
             <img src="/images/arrow-back.svg" alt="Voltar para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>
